body{
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
    color:#fff;
}
h1{
    text-align: center;
}
.formulario{
    display:flex;
    justify-content: center;
}
 input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
    background: transparent;
    border: 2px solid #fff;
    color:white;
    font-family: 'Alice';
    margin-bottom: 20px;
}

.btn{
    position:relative;
    font-family: "Potta One", cursive;
    color:#000;
    background-color: #fff;
    border-radius: 7px;
    padding: 2px;
    /*background: linear-gradient(180deg,#ecc572 0,#815500);
    font-size: 15px;*/
}
/*.btn span{
    background: #fff;
    border-radius: 4px;
    
}*/
#registrarse{
    float: right;
}

.registro a{
    text-decoration: none;
}
.footer{
    margin-top: 30px;
}
.logo{
    display: block;
    margin:auto;
}