body{
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
    color:#fff;
}
h1{
    text-align: center;
}
.formulario{
    display:flex;
    justify-content: center;
}
input{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border:solid 2px #ecc572;
    margin-right: 20px;
}
select{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border:solid 2px #696B74;
    margin-right: 20px;
    cursor: pointer;
}
.campos{
    margin-right: 270px;
}
textarea{
    width: 620px;
    height: 200px;
    resize: none;
}
button{
    font-family: "Potta One", cursive;
    color:#000;
    background-color: #fff;
    border-radius: 7px;
}
.correo.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.correo.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorCorreo{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: hidden;
}
.errorCorreo.active{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: visible;
    color:red;
}
.movil.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.movil.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorMovil{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: hidden;
}
.errorMovil.active{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: visible;
    color:red;
}
.nombre.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nombre.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorNombre{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: hidden;
}
.errorNombre.active{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: visible;
    color:red;
}

.apellidos.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.apellidos.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorApellidos{
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 150px;
    visibility: hidden;
}
.errorApellidos.active{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: visible;
    color:red;
    margin-left: 150px;
}
.password.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.password.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorCon{
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 150px;
    visibility: hidden;
}
.errorCon.active{
    margin-top: 0px;
    margin-bottom: 3px;
    visibility: visible;
    color:red;
    margin-left: 13px;
}
