body{
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
    color:#fff;
}
.fuente{
    text-align: center;
}
h1{
    text-align: center;
}
.ticket{
    background-color: #fff;
    background-image: url("../images/logoNegro.png");
    background-repeat: no-repeat;
    float: left;
    width: 50%;
    color:#000;
    height: 500px;
}
.pago{
    float: right;
    display:flex;
    justify-content: center;
    width: 50%;
}