body{
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
    color:#fff;
}
h1{
    text-align: center;
}
.paquetes{
    display:flex;
    justify-content: center;
}

#basico::before{
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 300px;
    content: '';
    border-radius: 50%;
    background-color: #66a329;
    z-index: -1;
}
#basico{
    position: relative;
    width: 300px;
    height: 700px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #66a329;
}
#iniciado::before{
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 300px;
    content: '';
    border-radius: 50%;
    background-color: #ffad42;
    z-index: -1;
}
#iniciado{
    position: relative;
    width: 300px;
    height: 700px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #ffad42;
}
#intermedio::before{
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 300px;
    content: '';
    border-radius: 50%;
    background-color: #e31342;
    z-index: -1;
}
#intermedio{
    position: relative;
    width: 300px;
    height: 700px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #e31342;
}
#experto::before{
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 300px;
    content: '';
    border-radius: 50%;
    background-color: #49c1f6;
    z-index: -1;
}
#experto{
    position: relative;
    width: 300px;
    height: 700px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #49c1f6;
}
#sibarita::before{
    position: absolute;
    top: -150px;
    right: 0px;
    width: 300px;
    height: 300px;
    content: '';
    border-radius: 50%;
    background-color: #8f8bdc;
    z-index: -1;
}
#sibarita{
    position: relative;
    width: 300px;
    height: 700px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #8f8bdc;
}
.paquete{
    display:flex;
    justify-content: center;
}
.circulo{
    margin-top: -120px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
#verde{
    box-shadow: 0 0 100px #3f6619;
    border: solid 10px #66a329;
    color:#66a329;
    font-size: 40px;
}
#amarillo{
    box-shadow: 0 0 100px #ad762f;
    border: solid 10px #ffad42;
    color:#ffad42;
    font-size: 40px;
}
#rojo{
    box-shadow: 0 0 100px #8c0c29;
    border: solid 10px #e31342;
    color:#e31342;
    font-size: 40px;
}
#azul{
    box-shadow: 0 0 100px #2c7595;
    border: solid 10px #49c1f6;
    color:#49c1f6;
    font-size: 40px;
}
#morado{
    box-shadow: 0 0 100px #625f93;
    border: solid 10px #8f8bdc;
    color:#8f8bdc;
    font-size: 40px;
}
.info{
    position:absolute;
    margin-top: 160px;;
    text-align: center;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.infoCompra{
    margin-top: 500px;
}
.comprar{
    color:#000;
    text-align: center;
    background-color: #b2e084;
    border: solid 2px #8cd147;
    border-radius: 20px;
}
